@media screen and (max-width:950px) {
    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 30px;
    }

    .menu-bar {
        display: none;
    }

    .TTQ-BG {
        height: 400px;
        opacity: rgba(0, 0, 0, 0.8);
    }

    .main-cont {
        height: 400px;
        width: 100vw;
        margin: 0px;
        padding: 100px 50px;
        box-sizing: border-box;
        font-size: 10px;
        background: #000;
        opacity: 0.8;
        font-size: 14px;
        color: white;
    }
    
    .but{
        display: none;
    }
    .main-cont>h1,
    .but {
        font-size: 30px;
    }
}